@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arita Buri';
  src: url('/fonts/AritaBuriKR-HairLine.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Arita Buri';
  src: url('/fonts/AritaBuriKR-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Arita Buri';
  src: url('/fonts/AritaBuriKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arita Buri';
  src: url('/fonts/AritaBuriKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Arita Buri';
  src: url('/fonts/AritaBuriKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #09090b;
  color: #e4e4e7;
  font-family: 'Arita Buri', sans-serif;
}
